<h3>There are <%= @contacts.count %> contacts</h3>

  <% @contacts.each do |contact| %>
<div class="contact">
  <p> <%= contact.full_name %> (<%= contact.email %>)</p>
  <div class="link">
    <a href="/contacts/<%= contact.id %>">more info</a>
  </div>

  <div class="link link2">
    <a href="/contacts/<%= contact.id %>/edit">Edit contact</a>
  </div>
</div>

  <% end %>
